{% extends 'Layout.html' %} {% block body%}
<div class="row align-items-center">
    <div class="col-12">
        <center>
            <!--Bienvenida-->
            <h1 class="text-capitalize">
                <span class="text-warning h2">Ropa  </span> <br/> Niño
            </h1>
        </center>
    </div>
</div>


<div class="row align-items-center roww">

    <div class="col-md-12">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Nombre</td>
                    <td>Descripcion</td>
                    <td>Departamento</td>
                    <td>Seccion</td>
                    <td>Stock</td>
                    <td>PrecioVenta</td>
                    <td>PrecioCompra</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}