{% extends 'LayoutA.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Envios/modificar" method="POST">

            <div class="form-group">
                <input type="number" value="{{Envio.IdEnvios}}" name="IdEnvio" placeholder="IdEnvio" class="form-control" readonly required>
            </div>

            <div class="form-group">
                <input type="number" value="{{Envio.IdPaqueteria}}" name="IdPaqueteria" placeholder="IdPaqueteria class="form-control" required>
            </div>

            
            <div class="form-group">
                <input type="date" value="{{Envio.FechaArribo}}" name="FechaArribo" placeholder="FechaArribo" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="date"  value="{{Envio.FechaSalida}}" name="FechaSalida" placeholder="FechaSalida" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="date" value="{{Envio.FechaEntrega}}" name="FechaEntrega" placeholder="FechaEntrega" class="form-control" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}