{% extends 'LayoutA.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="card card-body">
            <form action="/AddProductos" method="POST">

                <div class="form-group">
                    <input type="number" name="Codigo" placeholder="Codigo" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Nombre" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" name="Descripcion" placeholder="Descripcion" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" name="Departamento" placeholder="Departamento" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" name="Seccion" placeholder="Seccion" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="number" name="Stock" placeholder="Stock" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="number" name="PrecioVenta" placeholder="PrecioVenta" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="number" name="PrecioCompra" placeholder="PrecioCompra" class="form-control" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Nombre</td>
                    <td>Descripcion</td>
                    <td>Departamento</td>
                    <td>Seccion</td>
                    <td>Stock</td>
                    <td>PrecioVenta</td>
                    <td>PrecioCompra</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for producto in Productos %}
                <tr>
                    <td>{{ producto.CodigoBarras }}</td>
                    <td>{{ producto.Nombre }}</td>
                    <td>{{ producto.Descripcion }}</td>
                    <td>{{ producto.Departamento }}</td>
                    <td>{{ producto.Seccion }}</td>
                    <td>{{ producto.Stock }}</td>
                    <td>{{ producto.PrecioVenta }}</td>
                    <td>{{ producto.PrecioCompra }}</td>
                    <td>
                        <a href="/EditProductos/{{producto.IdProducto}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteProductos/{{producto.IdProducto}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}