{% extends 'LayoutA.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Usuarios/modificar" method="POST">

            <div class="form-group">
                <input type="text" name="IdUsuario" placeholder="IdUsuario" value={{Usuario.IdUsuario}} class="form-control" readonly required>
            </div>

            <div class="form-group">
                <input type="text" name="Nombre" placeholder="Nombre" value={{Usuario.Nombre}} class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" name="Telefono" placeholder="Nombre" value={{Usuario.Telefono}} class="form-control" required>
            </div>

            <div class="form-group">
                <input type="email" name="Email" placeholder="Email" value={{Usuario.Email}} class="form-control" required>
            </div>

            <div class="form-group">
                <input type="password" name="Password" placeholder="Password" value={{Usuario.Contrasenia}} class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" maxlength="1" name="Tipo" placeholder="Tipo" value={{Usuario.Tipo}} class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" maxlength="1" name="Sexo" placeholder="Sexo" value={{Usuario.Sexo}} class="form-control" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}