{% extends 'LayoutA.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddAdministradores" method="POST">

                <div class="form-group">
                    <input type="number" name="IdUsuario" placeholder="IdUsuario" class="form-control" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdAdministrador</td>
                    <td>IdUsuario</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for Administrador in Administradores %}
                <tr>
                    <td>{{Administrador.IdAdministrador}}     </td>
                    <td>{{Administrador.IdUsuario}}   </td>
                    <td>
                        <a href="/EditAdministradores/{{Administrador.IdAdministrador}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteAdministradores/{{Administrador.IdAdministrador}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}