{% extends 'Layout.html' %} {% block body%}
<div class="row align-items-center">
    <div class="col-12">
        <center>
            <!--Bienvenida-->
            <h1 class="text-capitalize">
                <span class="text-warning h2">Calzado  </span> <br/> Dama
            </h1>
        </center>
    </div>
</div>


<div class="row align-items-center roww">

    <div class="col-md-12">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Nombre</td>
                    <td>Descripcion</td>
                    <td>Departamento</td>
                    <td>Seccion</td>
                    <td>Stock</td>
                    <td>PrecioVenta</td>
                    <td>PrecioCompra</td>
                </tr>
            </thead>
            <tbody>
                {%for calzado in Productos%}
                {%if calzado.Departamento=="Calzado" and calzado.Seccion=="Dama"%}
                <tr>
                    <td>{{calzado.CodigoBarras}}       </td>
                    <td>{{calzado.Nombre}}       </td>
                    <td>{{calzado.Descripcion}}  </td>
                    <td>{{calzado.Departamento}} </td>
                    <td>{{calzado.Seccion }}     </td>
                    <td>{{calzado.Stock}}        </td>
                    <td>{{calzado.PrecioVenta}}  </td>
                    <td>{{calzado.PrecioCompra}} </td>
                </tr>
                {%endif%}

                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}