{% extends 'Layout.html' %} {% block body %}


<header class="header">
    <div class="container  vh-40">
        <!--Descripcion-->
        <div class="row rowdes">

            <div class="col-md-12 text-white back">
                <!--Titulo-->
                <center>
                    <h1 class="text-capitalize"> <span class="text-warning titulo">Bienvenido a WorldCulture</span>
                    </h1>
                </center>

            </div>

            <div class="col-md-6 text-white back">

                <center>
                    <br>
                    </br>
                    <br>
                    </br>
                    <p class="PDescripcion">Somos una compañía Mexicana dedicada al comercio electrónico y físico de moda para toda ocasión fundada el 5 de Diciembre de 2020 por Mauro Yeudiel Castellanos Díaz</p>
                </center>

            </div>
            <div class="col-md-6 text-white back">
                <center>
                    <img height="70%" width="50%" src="../static/img/worldculturee.png" alt="">
                </center>
            </div>



        </div>
    </div>
    <img src="../static/img/cuts/cut-header.svg" alt="" />

</header>



{% endblock %}