<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administración</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/PanelAdministracion.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Panel de Administración</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Flask</a>
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    <a class="nav-link active" aria-current="page" href="/Productos">Productos</a>
                    <a class="nav-link active" aria-current="page" href="#">Departamentos</a>
                    <a class="nav-link active" aria-current="page" href="#">Secciones</a>
                    <a class="nav-link active" aria-current="page" href="/Clientes">Clientes</a>
                    <a class="nav-link active" aria-current="page" href="/Pedidos">Pedidos(envios)</a>
                    <a class="nav-link active" aria-current="page" href="/Usuarios">Usuarios</a>
                    <a class="nav-link active" aria-current="page" href="/Direcciones">Direcciones</a>
                    <a class="nav-link active" aria-current="page" href="/Tarjetas">Tarjetas</a>
                    <a class="nav-link active" aria-current="page" href="/Envios">Envios</a>
                    <a class="nav-link active" aria-current="page" href="/Ventas">Ventas</a>
                    <a class="nav-link active" aria-current="page" href="/Paqueterias">Paqueterias</a>
                    <a class="nav-link active" aria-current="page" href="/Administradores">Administradores</a>
                    <a class="nav-link active" aria-current="page" href="/cerrarSesion">Cerrar Sesion</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container pt-4">
        {% block body %} {% endblock %}
    </div>


    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/EliminarProductos.js') }}"></script>

</body>

</html>