<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>Login MyLab</title>
        <meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/bootstrap.min.css')}}">
	    <script src="{{url_for('static',filename='JS/global.js')}}" ></script>
		
    </HEAD>
    <BODY  class="text-center" align-items= "center">
        
        <header>
            <div align="center">
                <img src="{{url_for('static',filename='Imagenes/logoTEC.jpg')}}" class="ImgHeader">
                <br><br>
			</div>
        </header>
		
        <main>
			<table align="center" width=30% BGCOLOR="white">
				<tr>
					<td>
						<form action="/login" method="POST">
							  <img class="mb-4" width="200" height="200" src="{{url_for('static',filename='Imagenes/login.png')}}" >
							  <h1 class="h3 mb-3 font-weight-normal">Por Favor Inicia Sesión</h1>
							  <label class="sr-only">Email</label>
							  <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Correo Electrónico" required autofocus>
							  <br>
							  <label class="sr-only">Contraseña</label>
							  <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                            <br><br>
                            <button class="btn btn-lg btn-primary btn-block">Iniciar Sesión</button>
							</form>


					</td>
				</tr>
			</table>
			<br><br>

			
      </main>

      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(245, 236, 236, 0.2)">
          <img src="{{url_for('static',filename='Imagenes/logoACC.png')}}" class="imgFooter">© 2020 Copyright:
          <a class="text-dark" href="https://www.teczamora.mx">www.teczamora.mx</a>
        </div>
        <!-- Copyright -->
      </footer>
    </BODY>
</HTML>