<!DOCTYPE HTML>
<HTML>

<HEAD>
    <title>Login MyLab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='JS/global.js')}}"></script>

</HEAD>

<BODY class="text-center" align-items="center">

    <header>

    </header>

    <main>
        <table align="center" width=30% BGCOLOR="white">
            <tr>
                <td>
                    <form action="/login" method="POST">
                        <h1 class="h3 mb-3 font-weight-normal">Hola! Inicia Sesión</h1>
                        <label class="sr-only">Email</label>
                        <div class="form-group">
                            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Correo Electrónico" required autofocus>
                        </div>
                        <br>
                        <label class="sr-only">Contraseña</label>
                        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                        <br><br>
                        <button class="btn btn-lg btn-primary btn-block">Iniciar Sesión</button>
                    </form>


                </td>
            </tr>
        </table>
        <br><br>


    </main>

    <footer class="bg-light text-center text-lg-start">

    </footer>
</BODY>

</HTML>