{% extends 'LayoutA.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Pedidos/modificar" method="POST">

            <div class="form-group">
                <input type="text" name="IdPedido" placeholder="IdPedido" value="{{Pedido.IdPedido}}" class="form-control" readonly>
            </div>

            <div class="form-group">
                <input type="number" name="IdProducto" placeholder="IdProducto" value="{{Pedido.IdProducto}}" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="date" name="Fecha" placeholder="Fecha" value="{{Pedido.Fecha}}" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="number" name="IdCliente" placeholder="IdCliente" value="{{Pedido.IdCliente}}" class="form-control" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}