{% extends 'LayoutA.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddTarjetas" method="POST">

                <div class="form-group">
                    <input type="number" name="NumeroTarjeta" placeholder="NumeroTarjeta" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="date" name="Fecha" placeholder="Fecha" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="number" name="CVV" placeholder="CVV" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" name="Titular" placeholder="Titular" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <input type="number" name="IdCliente" placeholder="IdCliente" class="form-control" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdTarjeta</td>
                    <td>Numero Tarjeta</td>
                    <td>Fecha Vencimiento</td>
                    <td>CVV</td>
                    <td>Titular</td>
                    <td>IdCliente</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for Tarjeta in Tarjetas %}
                <tr>
                    <td>{{Tarjeta.IdTarjeta}}     </td>
                    <td>{{Tarjeta.NumeroTarjeta}}   </td>
                    <td>{{Tarjeta.FechaVencimiento}}  </td>
                    <td>{{Tarjeta.Cvv}}   </td>
                    <td>{{Tarjeta.Titular}}   </td>
                    <td>{{Tarjeta.IdCliente}}   </td>
                    <td>
                        <a href="/EditTarjetas/{{Tarjeta.IdTarjeta}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteTarjetas/{{Tarjeta.IdTarjeta}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}